---
import "../styles/global.css";
import Logo from "../assets/Logo_Tavu.svg";
import Google from "../assets/Google.svg";
import Header from "../layouts/Header.astro";
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`${Logo.src}` />
    <meta name="generator" content={Astro.generator} />
    <title>Connection</title>
</head>

<Header />

<body class="min-h-screen bg-blanc flex">
    <div class="w-full max-w-2xl m-auto flex items-center justify-center p-4 sm:p-8">
        <div role="tablist" class="tabs w-full">
            <input type="radio" name="my_tabs_4" role="tab" class="tab text-base sm:text-lg font-semibold text-grisA" aria-label="Connection" id="tab1" checked />
            <div role="tabpanel" class="tab-content bg-blanc border-gris rounded-br-xs text-grisA p-4 sm:p-8 place-items-center">
                <h2 class="text-xl sm:text-2xl font-bold mb-6">Nous sommes heureux de vous revoir !</h2>
                <form id="login-form" class="space-y-4 w-full">
                    <div>
                        <label class="input input-bordered flex items-center gap-2 bg-blanc border-gris rounded-xs outline-grisA focus:outline-1 text-sm sm:text-base">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70 shrink-0">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.05 11.05C11.05 10.2 9.58 9.5 8 9.5s-3.05.7-4.05 1.55A7 7 0 0 0 8 15a7 7 0 0 0 4.05-3.95Z" />
                            </svg>
                            <input id="email" name="email" type="email" class="grow" placeholder="Email" required />
                        </label>
                    </div>
                    <div>
                        <label class="input flex items-center gap-2 bg-blanc border-gris rounded-xs outline-grisA focus:outline-1 text-sm sm:text-base">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70 shrink-0">
                                <path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" />
                            </svg>
                            <input id="password" name="password" type="password" class="grow" placeholder="Mot de passe" required />
                        </label>
                    <a href="#" class="link text-vert hover:font-bold transition-all text-xs sm:text-sm justify-self-end flex">
                        Mot de passe oublié ?
                    </a>
                    </div>

                    <button type="submit" class="btn bg-blanc text-grisA hover:bg-vert hover:text-blanc w-full rounded-xs block justify-self-center text-sm sm:text-base">Se connecter</button>
                    <div class="divider divider-neutral w-full flex justify-self-center text-sm sm:text-base">
                        Ou
                    </div>

                    <button id="googlelogin" class="flex p-2 bg-blanc text-grisA items-center drop-shadow-xs drop-shadow-gris hover:bg-vert hover:text-blanc hover:dropshadow-none transition-all mx-auto text-sm sm:text-base">
                        <Google class="size-8 sm:size-10 mr-2 shrink-0" /> Se connecter via Google
                    </button>
                </form>
                <p id="status" class="mt-4 text-center text-error"></p>
            </div>
            
            <input type="radio" name="my_tabs_4" role="tab" class="tab text-base sm:text-lg font-semibold text-grisA" aria-label="Inscription" id="tab2" />
            <div role="tabpanel" class="tab-content bg-blanc shadow-gris text-grisA border-gris place-items-center rounded-sm p-4 sm:p-8">
                <h2 class="text-xl sm:text-2xl font-bold mb-6">Inscrivez vous pour créer vos paires !</h2>
                <form id="register-form" class="space-y-4 flex-col place-content-center justify-center w-full">
                    <div class="w-full flex justify-self-center place-self-center">
                        <label class="input input-bordered flex items-center gap-2 bg-blanc border-gris rounded-xs outline-grisA focus:outline-1 w-full text-sm sm:text-base">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70 shrink-0">
                                <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                                <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                            </svg>
                            <input name="emailR" id="emailR" type="email" class="grow" placeholder="Email" required />
                        </label>
                    </div>
                    <div class="w-full place-self-center">
                        <label class="input input-bordered flex items-center gap-2 bg-blanc border-gris rounded-xs outline-grisA focus:outline-1 w-full text-sm sm:text-base">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70 shrink-0">
                                <path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" />
                            </svg>
                            <input name="passwordR" id="passwordR" type="password" class="grow" placeholder="Mot de passe" required />
                        </label>
                    </div>
                    <div class="w-full justify-self-center place-self-center">
                        <label class="input input-bordered flex items-center gap-2 bg-blanc border-gris rounded-xs outline-grisA focus:outline-1 w-full text-sm sm:text-base">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70 shrink-0">
                                <path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.1 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" />
                            </svg>
                            <input name="confirmPasswordR" id="confirmPasswordR" type="password" class="grow" placeholder="Confirmer votre mot de passe" required />
                        </label>
                    </div>
                    <button type="submit" class="btn bg-blanc text-grisA hover:bg-vert hover:text-blanc w-full rounded-xs block justify-self-center text-sm sm:text-base">S'inscrire</button>
                </form>
                <p id="statusR" class="mt-4 text-center text-error"></p>
            </div>
        </div>
    </div>

    <style>
        .tab-content {
            display: none;
            border-radius: 0 0.25rem 0.25rem 0.25rem;
        }
        
        input[type="radio"]:checked + .tab-content {
            display: flex;
            flex-direction: column;
        }

        .tab {
            appearance: none;
            cursor: pointer;
            border-bottom: none;
            border-radius: 0.5rem 0.5rem 0 0;
            transition: all 0.2s;
        }

        .tab:checked {
            background-color: #FAFAFA;
            border: solid;
            z-index: 10;
            border-width: 0.5px;
            border-bottom: #FAFAFA;
            border-bottom: 5px;
            border-bottom-width: none;
            border-color: #303030;
        }

        .tab::after {
            content: attr(aria-label);
        }
    </style>
</body>
</html>

<script>
    //@ts-nocheck
    import PocketBase from 'pocketbase';
    const pb = new PocketBase('https://tavu.pauldarlef.fr');
    
    const googlelogin = document.getElementById("googlelogin");
    googlelogin.onclick = async () => {
        try {
            const authData = await pb.collection("users").authWithOAuth2({provider: 'google'});
            
            // Envoyer le token au backend pour créer le cookie httpOnly
            const res = await fetch("../apis/oauth-sync", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    token: pb.authStore.token,
                    user: authData.record
                }),
                credentials: "include",
            });

            if (res.ok) {
                localStorage.setItem("user", JSON.stringify(authData.record));
                window.location.href = "/";
            }
        } catch (err) {
            document.getElementById("status").textContent = "Échec de connexion Google";
            console.error(err);
        }
    };

    localStorage.removeItem("user");
    const form = document.getElementById("login-form");
    const status = document.getElementById("status");
    

    form.addEventListener("submit", async(e) => {
        e.preventDefault();
        const formData = new FormData(form);
        console.log(formData);
        
        const res = await fetch("../apis/login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                email: formData.get("email"),
                password: formData.get("password"),
            }),
            credentials: "include",
        });

        if (res.ok) {
            const resData = await res.json();
            localStorage.setItem("user", JSON.stringify(resData.user));
            status.textContent = "Connexion réussie !";
            window.location.href = "/";
        } else {
            status.textContent = "Email ou mot de passe invalide";
        }
    })
    

    const formR = document.getElementById("register-form");
    const statusR = document.getElementById("statusR");

    formR.addEventListener("submit", async(e) => {
        e.preventDefault();
        const formData = new FormData(formR);
        console.log(formData);

        const res = await fetch("../apis/register", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                email: formData.get("emailR"),
                password: formData.get("passwordR"),
                confirmPassword: formData.get("confirmPasswordR"),
            }),
            credentials: "include",
        });

        if (res.ok) {
            const resData = await res.json();
            localStorage.setItem("user", JSON.stringify(resData.user));
            statusR.textContent = "Inscription réussie !";
            window.location.href = "/";
        } else {
            statusR.textContent = "Erreur lors de l'inscription";
        }
    })

</script>