---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
---

<Layout>
	<Hero />
	<h1 class="text-5xl text-grisA">Hello</h1>
	<h2>Sous titre en bien</h2>
	<p>texte en bieng</p>
</Layout>
