---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Button from '../components/Button.astro';

import pb from '../../backend/backend.mjs';

const authCookie = Astro.cookies.get('pb_auth');
let user = null;

if (authCookie) {
    pb.authStore.loadFromCookie(authCookie.value);
    if (pb.authStore.isValid) {
        user = pb.authStore.model;
    }
}
---

<Layout title="Accueil">
	<Hero />
	<h1 class="text-5xl text-grisA">Hello</h1>
	<h2>Sous titre en bien</h2>
	<p>{user.email}</p>
	<Button content="hihi" link="/" />
	<Button content="hihi" link="/" ombres="true" />
</Layout>
