---
import Layout from '../layouts/Layout.astro';
import CardLunette from '../components/CardLunette.astro';

import pb from '../../backend/backend.mjs';
const authCookie = Astro.cookies.get('pb_auth');
let user = null;

if (authCookie) {
    pb.authStore.loadFromCookie(authCookie.value);
    if (pb.authStore.isValid) {
        user = pb.authStore.model;
    }
};
if (!user) {
    Astro.redirect('/login');
}
---
<Layout title=`Profil de ${user.name}`>
    <div>
        <div class="flex place-items-center">
            {user.avatar 
        ?
        <img src={user.avatar} alt=""> 

        : 
        <div tabindex="0"  class="btn bg-grisA btn-circle avatar">
            <div class="w-10 rounded-full">
                <span>{user.name.substring(0,1)}</span>
            </div>
        </div>
        }
        <div class="text-grisA">
            <h2>{user.name}</h2>
            <p>{user.email}</p>
        </div>
      </div>
      <h2 class="text-grisA">Commandes récentes</h2>
      <CardLunette />
    </div>
    <div class="divider divider-horizontal divider-start">Start</div>
    <div>
        <h2 class="text-grisA">Vos lunettes sauvegardées</h2>
    </div>
</Layout>