---
import CardLunetteModif from "../components/CardLunetteModif.astro";

interface Props {
    lunette?: any;
}

const { lunette } = Astro.props;
---

{lunette ? (
        <CardLunetteModif glasses={lunette} />
) : (
    <p>Aucune lunette à afficher</p>
)}
