---
import CardLunetteModif from "../components/CardLunetteModif.astro";

interface Props {
    lunette?: any;
}

const { lunette } = Astro.props;
---

{lunette ? (
    <div class="flex flex-wrap p-1 w-2/10 *my-1 h-auto text-grisA bg-blanc drop-shadow-sm drop-shadow-gris ">
        <CardLunetteModif glasses={lunette} />
    </div>
) : (
    <p>Aucune lunette à afficher</p>
)}
