---
import Lunette from "../assets/lunettes.svg";
import pb from '../../backend/backend.mjs';
const authCookie = Astro.cookies.get('pb_auth');
let user = null;

if (authCookie) {
    pb.authStore.loadFromCookie(authCookie.value);
    if (pb.authStore.isValid) {
        user = pb.authStore.model;
    }
};
---

<div class="p-1 w-2/10 h-auto text-grisA bg-blanc drop-shadow-sm drop-shadow-gris ">
    <h2>Titre</h2>
    <Lunette class="w-full h-auto my-5" />
    <p>Priw</p>
    <p class="italic">Date un peu</p>
</div>