---
import Chat from "../assets/Fab/chat.svg";
import Cross from "../assets/Fab/cross.svg";
import Container from "../assets/Fab/container.svg";
---

<div class="fab fab-flower">
    <div tabindex="0" role="button" class="btn btn-lg bg-vert btn-circle"><Chat class="size-8 stroke-1" /></div>
  
    <button class="fab-main-action btn btn-circle btn-lg bg-vert"><Cross class="size-8" /></button>
  
    <div class="tooltip tooltip-left" data-tip="Chatbot">
      <button class="btn btn-lg btn-circle bg-vert"><a href ="/chat"><Chat class="size-8 stroke-1" /></a></button>
    </div>
    <div class="tooltip" data-tip="Galerie">
      <button class="btn btn-lg btn-circle bg-vert"><a href ="/gallerie"><Container class="size-8 " /></a></button>
    </div>
  </div>