---
import Chat from "../assets/Fab/chat.svg";
import Cross from "../assets/Fab/cross.svg";
import Container from "../assets/Fab/container.svg";
---

<div class="fab fab-flower">
    <div tabindex="0" role="button" class="btn btn-lg btn-grisA btn-circle"><Chat class="size-8 stroke-1 stroke-blanc" /></div>
  
    <button class="fab-main-action btn btn-circle btn-lg btn-success"><Cross class="size-8 stroke-blanc" /></button>
  
    <div class="tooltip tooltip-left" data-tip="Label B">
      <a class="btn btn-lg btn-circle"><a href ="/Chat"><Chat class="size-8" /></a></button>
    </div>
    <div class="tooltip" data-tip="Label D">
      <button class="btn btn-lg btn-circle"><a href ="/Gallery"><Container class="size-8" /></a></button>
    </div>
  </div>