---
import HeroImg from "../assets/Hero.jpg";
---

<div
  class="hero min-h-screen relative top-0"
  style=`background-image: url(${HeroImg.src});`
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-4/5 text-white">
      <h1 class="mb-10 font-bold">Bien plus que de simples lunettes, des lunettes faites pour vous, par vous</h1>
      <h2 class="mb-5 text-2xl max-w-2/4 mx-auto">
        Venez configurer vous même votre paire de lunettes de rêves dès maintenant
      </h2>
      <a href="/configurateur" class="btn bg-blanc text-grisA hover:bg-vert ">Commencer à configurer</a>
    </div>
  </div>
</div>