---
import HeroImg from "../assets/Hero.jpg";
---

<div
  class="hero min-h-screen relative top-0"
  style=`background-image: url(${HeroImg.src});`
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center px-4">
    <div class="max-w-full sm:max-w-4/5 text-white">
      <h1 class="mb-6 sm:mb-10 font-bold text-3xl sm:text-4xl lg:text-5xl leading-tight">Bien plus que de simples lunettes, des lunettes faites pour vous, par vous</h1>
      <h2 class="mb-5 text-lg sm:text-xl lg:text-2xl max-w-full sm:max-w-3/4 lg:max-w-2/4 mx-auto px-4 sm:px-0">
        Venez configurer vous même votre paire de lunettes de rêves dès maintenant
      </h2>
      <a href="/configurateur" class="btn bg-blanc text-grisA hover:bg-vert text-sm sm:text-base">Commencer à configurer</a>
    </div>
  </div>
</div>