---
import Logo from"../assets/Logo_Tavu.svg";
---

<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
    <aside>
        <a href="/">
            <Logo class=" size-20 stroke-2 stroke-blanc fill-blanc hover:stroke-vert transition-all" />
        </a>
        <div class="*:my-5">
            <p>Des lunettes d'exception depuis toujours.</p>
            <p>Car Vos yeux méritent ce qu'il y a de mieux...</p>
        </div>
    </aside>
    <nav>
        <h2 class="font-luxurious mb-3">Navigation</h2>
        <div class="flex flex-col *:my-2 *:hover:text-vert *:hover:underline *:transition-all">
            <a href="/">Accueil</a>
            <a href="/configurateur">Configurateur</a>
            <a href="/chat">Chatbot</a>
        </div>
    </nav>
    <nav>
        <h2 class="font-luxurious mb-3">Réseaux Sociaux</h2>
        <div class="flex flex-col *:my-2 *:hover:text-vert *:hover:underline *:transition-all">
            <a href="https://facebook.com">Facebook</a>
            <a href="https://instagram.com">Instagram</a>
            <a href="https://x.com">X</a>
        </div>
    </nav>
</footer>