---
import Logo from "../assets/Logo_Tavu.svg";
import pb from '../../backend/backend.mjs';
import { getTotal, getPanier } from "../../backend/backend.mjs";

const authCookie = Astro.cookies.get('pb_auth');
let user = null;

if (authCookie) {
    pb.authStore.loadFromCookie(authCookie.value);
    if (pb.authStore.isValid) {
        user = pb.authStore.model;
    }
}

let panier = null;
let total = null;

if (user) {
    try {
        panier = await getPanier(user.id);
        total = await getTotal(user.id);
    } catch (error) {
        console.error("Error fetching panier/total:", error);
    }
}
---

<header
  class="flex navbar bg-blanc shadow-sm text-grisA fixed top-0 left-1/2 -translate-x-1/2 w-full sm:w-11/12 lg:w-9/10 rounded-none sm:rounded-sm z-10 mt-0 sm:mt-5 px-4 sm:px-0"
>
  <div class="navbar-start">
    <div class="dropdown lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-blanc rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="/configurateur" class="hover:text-vert hover:underline transition-all">Configurateur</a></li>
        <li><a class="hover:text-vert hover:underline transition-all">Chatbot</a></li>
      </ul>
    </div>
    <a href="/">
      <Logo
        class="size-12 sm:size-14 lg:size-16 stroke-black stroke-2 hover:stroke-vert transition-all"
      />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a href="/configurateur" class="hover:text-vert hover:underline transition-all">Configurateur</a>
      </li>
      <li>
        <a class="hover:text-vert hover:underline transition-all">Chatbot</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end mr-5">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
          {total === null ? (
              <span class="badge badge-sm indicator-item">0</span>
            ) : (
            <span class="badge badge-sm indicator-item">{total.total}</span>
            )}
        </div>
      </div>
      <div
        tabindex="0"
        class="card card-compact dropdown-content bg-blanc z-1 mt-6 w-52 shadow"
      >
        <div class="card-body">
          {total === null || panier === null ? (
            <>
              <span class="text-lg">0 Objets</span>
              <span class="">Total: <b>0€</b></span>
            </>
          ) : (
            <>
              <span class="text-lg">{total.total} Objets</span>
              <span class="">Total: <b>{panier.total}€</b></span>
            </>
          )}
          
          <div class="card-actions">
            <button class="btn btn-grisA btn-block hover:bg-blanc hover:text-grisA">Voir le panier</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end mr-5">
      {!user ? 
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-blanc rounded-box z-1 mt-6 w-52 p-2 shadow"
      >
        <li>
          <a href="/connection" class="justify-between hover:text-vert hover:underline hover:font-bold"> Se connecter </a>
        </li>
      </ul>
      :<div tabindex="0" role="button" class="btn bg-grisA btn-circle avatar">
        <div class="w-10 rounded-full">
          <span>{user.name.substring(0,1)}</span>
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-blanc rounded-box z-1 mt-6 w-52 p-2 shadow"
      >
        <li>
          <a href="/profil" class="justify-between hover:text-vert hover:underline hover:font-bold"> {user.name} </a>
        </li>
        <li>
          <form method="POST" action="/apis/logout">
            <button type="submit" class="justify-between hover:text-vert hover:underline hover:font-bold ">Se déconnecter</button>
          </form>
        </li>
      </ul>}
      
    </div>
  </div>
</header>